.App {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background: rgb(129,225,242);
background: linear-gradient(90deg, rgba(129,225,242,1) 0%, rgba(141,240,198,1) 49%, rgba(254,148,168,1) 92%);
}